.index-img{
  width: 500px;
  height: 650px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.other-img {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  max-width: 500px;
  div {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    margin-right: 8px;
    margin-bottom: 8px;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      border: 1px solid $primary;
    }
  }
}

