.process {
  display: flex;
  justify-content: center;
  // color: #fff;
  li {
    padding: 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 1px solid $secondary;
    background-color: $light;
    list-style-type: none;
    margin-right: 16px;
  }
}