.process {
  display: flex;
  justify-content: center;
  // color: #fff;
  li {
    padding: 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 1px solid $secondary;
    background-color: $light;
    list-style-type: none;
    margin-right: 16px;
  }
}
@media (max-width: 768px) {
  .process { 
    padding: 0;
    li { 
      width: 100%;
      margin: 0;
    }
  }
}

.cart-total {
  color: $secondary;
  width: 400px;
  padding: 0;
  li {
    list-style-type: none;
    margin-bottom: 16px ;
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .cart-total { padding: 0px 8px; }
}

@media (max-width: 768px) {
  .cart-table tr td:nth-child(3) { display: none;}
  .cart-table tr th:nth-child(3) { display: none;}
  .cart-table tr td:nth-child(4) { display: none;}
  .cart-table tr th:nth-child(4) { display: none;}
  .cart-table tr td:nth-child(5) { display: none;}
  .cart-table tr th:nth-child(5) { display: none;}
  .cart-table tr td:nth-child(6) { display: none;}
  .cart-table tr th:nth-child(6) { display: none;}
}

