.process {
  display: flex;
  justify-content: center;
  // color: #fff;
  li {
    padding: 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 1px solid $secondary;
    background-color: $light;
    list-style-type: none;
    margin-right: 16px;
  }
}

.cart-total {
  color: $secondary;
  text-align: right;
  li {
    list-style-type: none;
    margin-bottom: 16px ;
    span {
      font-weight: bold;
      border: 1px solid #000;
      padding: 8px 64px;
    }
  }
}

@media (max-width: 768px) {
  table tr td:nth-child(1) { display: none;}
  table tr th:nth-child(1) { display: none;}
  table tr td:nth-child(6) { display: none;}
  table tr th:nth-child(6) { display: none;}
}